.dot-green {
    height: 0.5rem;
    width: 0.5rem;
    background-color: #1ccf1c;
    border-radius: 50%;
    display: inline-block;
}

table {
    border-collapse: collapse;
    border: 1px solid rgb(196, 196, 196);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
}

.row {
    cursor: pointer;
    cursor: pointer;
    height: 2rem;
    background-color: #99d4fb;
    text-align: initial;
}

td,
th {
    border: 1px solid rgb(196, 196, 196);
    padding: 10px;
}

table th:last-child {
    min-width: 5rem;
}

.row:hover {
    background-color: rgb(223, 223, 223);
}

.download_btn {
    height: 2rem;
}
